{% extends 'base.html.twig' %}


{% block content %}

    <div class="col-sm-12 ">
        <h1 class="titre">MUSIC MOOD</h1>
    </div>



<div class="row">


    <div class="col-sm-6 ">
        <h2 class="soustitre1">Je choisi ma musique</h2>
    </div>

    <div class="col-sm-6">
        <h2 class="soustitre2">Je fais un commentaire</h2>
    </div>
</div>

{% endblock %}